$twitter: #349CC3;
$vimeo: #3C5A99;
$facebook:#3FB7EA;
$snapchat:#FDFC00;
$airbnb:#F65C63;
$android:#A4C639;
$github:#4078C0;
$js:#F7DF1E;
$amazon: #ff9900;
$behance: #1769ff;
$stack: #f48024;
$ubuntu: #dd4814;